In [66]:
import pandas as pd

In [67]:
s = pd.Series(data=[100, 'a', { 'dici': 5 }],
              index=pd.Index(['idi', 20, 'third'], name='my_idx'),
              dtype='object',
              name='my_name')

In [68]:
s2 = pd.Series(data=[100, 'a', { 'dici': 5 }])

In [69]:
s2.size

3

In [70]:
books={
    '作者':pd.Series(['余华','莫言','史铁生']),
    "作品名称":pd.Series(['活着','红高粱','我与地坛'])
}
df2=pd.DataFrame(books)

In [71]:
# 数据框的行索引
i=df2.index.values

In [72]:
# 获取df值
df2['作品名称']

0      活着
1     红高粱
2    我与地坛
Name: 作品名称, dtype: object

In [73]:
# 获取df值
df2['作者']

0     余华
1     莫言
2    史铁生
Name: 作者, dtype: object

In [74]:
df2[['作品名称','作者']]

   作品名称   作者
0    活着   余华
1   红高粱   莫言
2  我与地坛  史铁生

In [75]:
# 设置行索引
gzmt = pd.read_csv(R'data\600519.csv')

In [76]:
gzmt.set_index('day')

            STOCK_CODE    open   close  maximum  minimum  volume     TURNOVER
day
2001-08-27     6005191   34.51   35.55    37.78    32.85  406318   1410347008
2001-08-28     6005191   34.99   36.86    37.00    34.61  129647    463463008
2001-08-29     6005191   36.98   36.38    37.00    36.10   53252    194689000
2001-08-30     6005191   36.28   37.10    37.51    36.00   48013    177558000
2001-08-31     6005191   37.15   37.01    37.62    36.80   23231     86231000
...                ...     ...     ...      ...      ...     ...          ...
2018-10-29     6005191  549.09  549.09   549.09   549.09   49076   2694714080
2018-10-30     6005191  510.00  524.00   543.00   509.02  204397  10663392512
2018-10-31     6005191  527.00  548.90   555.00   522.00   96885   5239853056
2018-11-01     6005191  555.00  563.00   585.50   551.25   98107   5581027328
2018-11-02     6005191  585.00  599.90   600.00   572.24   89157   5227695104

[4094 rows x 7 columns]

In [77]:
df3 = gzmt.set_index('day')

In [78]:
gzmt.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [79]:
df3.loc['2001-10-08','open']

37.0

In [80]:
df3.loc[['2001-10-08','2001-10-15'],'open']

day
2001-10-08    37.0
2001-10-15    35.9
Name: open, dtype: float64

In [81]:
# 创建布尔列表

布尔列表 = [False] * 4094
布尔列表[1] = True

In [82]:
df3.loc[布尔列表]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001-08-28     6005191  34.99  36.86     37.0    34.61  129647  463463008

In [83]:
# 使用条件表达式构造布尔列表
条件1 = df3.open < 35
条件2 = df3.close < 35
筛选条件 = 条件1 & 条件2
df3.loc[筛选条件]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001-10-17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001-10-18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001-10-19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001-10-22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001-11-08     6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004-09-21     6005191  32.09  32.30    32.98    32.09    8374   27222818
2004-09-22     6005191  32.03  32.16    32.49    32.03    4348   13965168
2004-09-23     6005191  32.11  33.42    33.52    32.11   17667   58219692
2004-09-24     6005191  33.60  34.49    35.89    33.60   30981  108295826
2004-09-27     6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [84]:
# 使用函数作为索引方式
def 筛选函数(df):
    条件1 = df3.open < 35
    条件2 = df3.close < 35
    筛选条件 = 条件1 & 条件2
    return[筛选条件]

In [91]:
df3.loc[筛选函数]

KeyError: "None of [Index([(False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, ...)], dtype='object', name='day')] are in the [index]"

In [86]:
# 使用Query方法查询数据
df3.query('open < 35 and close < 35')

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001-10-17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001-10-18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001-10-19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001-10-22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001-11-08     6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004-09-21     6005191  32.09  32.30    32.98    32.09    8374   27222818
2004-09-22     6005191  32.03  32.16    32.49    32.03    4348   13965168
2004-09-23     6005191  32.11  33.42    33.52    32.11   17667   58219692
2004-09-24     6005191  33.60  34.49    35.89    33.60   30981  108295826
2004-09-27     6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [93]:
df3.loc['2018-1-2':]

            STOCK_CODE    open   close  maximum  minimum  volume     TURNOVER
day
2018-10-08     6005191  715.41  686.15   719.00   686.15   82745   5798721536
2018-10-09     6005191  686.90  695.00   698.71   685.90   40223   2785526960
2018-10-10     6005191  697.26  670.92   698.00   669.69   63098   4288785952
2018-10-11     6005191  635.01  644.99   668.94   635.01   91582   5953169152
2018-10-12     6005191  651.00  668.00   672.68   650.58   54473   3599837216
2018-10-15     6005191  669.49  666.90   671.95   660.03   35607   2372056688
2018-10-16     6005191  665.98  667.14   679.53   662.01   26394   1766613792
2018-10-17     6005191  675.00  665.72   677.30   649.90   43077   2846537056
2018-10-18     6005191  660.00  645.94   660.00   644.97   52156   3394332720
2018-10-19     6005191  638.00  670.00   675.00   635.08   76199   4973381120
2018-10-22     6005191  675.00  693.00   702.02   675.00   73109   5036971520
2018-10-23     6005191  689.00  641.74   689.00   635.00  123113   8076618496
2018-10-24     6005191  628.11  636.99   650.00   620.00   76113   4818473472
2018-10-25     6005191  620.00  619.00   622.50   608.58   75568   4657019136
2018-10-26     6005191  619.00  610.10   625.00   607.98   55327   3388947808
2018-10-29     6005191  549.09  549.09   549.09   549.09   49076   2694714080
2018-10-30     6005191  510.00  524.00   543.00   509.02  204397  10663392512
2018-10-31     6005191  527.00  548.90   555.00   522.00   96885   5239853056
2018-11-01     6005191  555.00  563.00   585.50   551.25   98107   5581027328
2018-11-02     6005191  585.00  599.90   600.00   572.24   89157   5227695104